* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 250vh;
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    background-color: bisque;
    position: relative;
}

header {
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px black;
    color: whitesmoke;
    border: 3px solid black;
    background-color: rgb(51, 201, 206);
    border-radius: 30px;
    width: 100%;
    height: 40vh;
    padding-top: 80px;
    text-align: center;
    background-image: url("background_image\(header\).jpg");
    background-repeat: repeat;
    background-size: cover;
}

.Headline {
    display: flex;
    justify-content: center;
    align-content: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 25px;  
}

a {
    text-decoration: none;
    color: black;
    border: 2px solid red;
    background-color: red;
    border-radius: 5px;
}

a:hover {
    background-color: aqua;
    transform: scale(2, 3);  
}

.about_container {
    padding: 20px;
}

.about_section, .reviews_section, .registration_section,.Table_Booking{
    margin: 20px 0;
    border: 3px solid black;
    background-color: rgb(169, 176, 176);
    border-radius: 20px;
    padding: 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-size: 18px;
}

input, textarea, button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

h1 {
    text-align: center;
    font-size: 40px;
}